//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}ViewController: UIViewController, BaseViewController {

    typealias Presenter = {{ module_info.name }}ViewOutputProtocol

    let presenter: Presenter

    init(presenter: Presenter) {
        self.presenter = presenter
        super.init(nibName: nil, bundle: nil)
    }

    @available(*, unavailable)
    required init?(coder: NSCoder) { fatalError("init(coder:) has not been implemented") }

    // MARK: - Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
        presenter.viewDidLoad()
    }
}

// MARK: - {{ module_info.name }}ViewInputProtocol
extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewInputProtocol {

}
