//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}Router {
    
    weak var viewController: UIViewController?
}

// MARK: - {{module_info.name }}RouterProtocol
extension {{ module_info.name }}Router: {{module_info.name }}RouterProtocol {
}
