//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

final class {{ module_info.name }}Model {

    weak var view: {{ module_info.name }}ViewProtocol?
}

// MARK: - {{ module_info.name }}ModelProtocol
extension {{ module_info.name }}Model: {{ module_info.name }}ModelProtocol {

}
