//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}Assembly {

    func makeViewController() -> UIViewController {
        let model = {{ module_info.name }}Model()
        let router = {{ module_info.name }}Router()
        let controller = {{ module_info.name }}ViewController(model: model, router: router)
        router.viewController = controller
        model.view = controller

        return controller
    }
}
