//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

final class {{ module_info.name }}Interactor: BaseInteractor {

    typealias Presenter = {{ module_info.name }}InteractorOutputProtocol
	
    private(set) weak var presenter: Presenter?
	
    init(presenter: Presenter) {
        self.presenter = presenter
    }
}

// MARK: - {{ module_info.name }}InteractorInputProtocol
extension {{ module_info.name }}Interactor: {{ module_info.name }}InteractorInputProtocol {
}
