//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}Assembly: BaseAssembly {

    private let view: UIViewController
    
    init(moduleConfigurator: {{ module_info.name }}ModuleConfiguratorProtocol) {
        let presenter = {{ module_info.name }}Presenter(parentModule: moduleConfigurator.parentModule)
        let interactor = {{ module_info.name }}Interactor(presenter: presenter)
        let view = {{ module_info.name }}ViewController(presenter: presenter)
        let router = {{ module_info.name }}Router(presenter: presenter, viewController: view)

        presenter.view = view
        presenter.interactor = interactor
        presenter.router = router
        self.view = view
    }

    func initialViewController() -> UIViewController {
        return view
    }
}
