//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}ModuleConfiguratorProtocol {
    var parentModule: {{ module_info.name }}ModuleOutputProtocol? { get set }
}

final class {{ module_info.name }}ModuleConfigurator: {{ module_info.name }}ModuleConfiguratorProtocol {
    var parentModule: {{ module_info.name }}ModuleOutputProtocol?

    init(parentModule: {{ module_info.name }}ModuleOutputProtocol?) {
        self.parentModule = parentModule
    }
}
