//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

final class {{ module_info.name }}Presenter {

    private weak var parentModule: {{ module_info.name }}ModuleOutputProtocol?
    weak var view: {{ module_info.name }}ViewInputProtocol?
    var interactor: {{ module_info.name }}InteractorInputProtocol?
    var router: {{ module_info.name }}RouterInputProtocol?

    init(parentModule: {{ module_info.name }}ModuleOutputProtocol?) {
        self.parentModule = parentModule
    }
}

// MARK: - {{module_info.name }}ViewOutputProtocol
extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutputProtocol {
    func viewDidLoad() {
        
    }
}

// MARK: - {{module_info.name}}InteractorOutputProtocol
extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutputProtocol {
}

// MARK: - {{module_info.name}}RouterOutputProtocol
extension {{ module_info.name }}Presenter: {{ module_info.name }}RouterOutputProtocol {
}

// MARK: - {{module_info.name}}ModuleInputProtocol
extension {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInputProtocol {
}
