//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}Router: BaseRouter {

    typealias Presenter = {{ module_info.name }}RouterOutputProtocol
    
    private(set) weak var presenter: Presenter?

    private(set) weak var viewController: UIViewController?

    init(presenter: Presenter, viewController: UIViewController) {
        self.presenter = presenter
        self.viewController = viewController
    }
}

// MARK: - {{module_info.name }}RouterInputProtocol
extension {{ module_info.name }}Router: {{module_info.name }}RouterInputProtocol {
}
