//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}ViewController: UIViewController {
    @available(*, unavailable)
    required init?(coder: NSCoder) { fatalError("init(coder:) has not been implemented") }

    private let model: {{ module_info.name }}ModelProtocol
    private let router: {{ module_info.name }}RouterProtocol

    init(model: {{ module_info.name }}ModelProtocol, router: {{ module_info.name }}RouterProtocol) {
        self.model = model
        self.router = router
        super.init(nibName: nil, bundle: nil)
    }

    // MARK: - Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
    }
}

// MARK: - {{ module_info.name }}ViewProtocol
extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewProtocol {

}
